
header{
    background-image: url("./img/pattern.png");
    background-color: rgb(105, 105, 212);
}
.logo{
        width: 20%;
        padding-top: 80px;
        padding-bottom:10px ;
}
.info {
    font-size: 15px;
    color: rgb(107, 104, 104);
}
#writer{
    color: rgb(19, 148, 148);
}
#description-photos{
    font-size: 10px;
}
.text{
    background-color: yellow;
}
.line-1 {
    background-color:rgb(37, 164, 206);
}
.line-2  {
    background-color: lightskyblue;
}
.line-4 {
    background-color: lightskyblue;
}
.photo1{
    width: 300px;
    height: 200px;
    background-image: url(./img/monitor.jpg);
    color: white;
    padding-bottom: 20px;
    background-repeat: no-repeat;
}
.photo2{
    width: 300px;
    height: 200px;
    background-image: url(./img/graph.jpg);
    color: white;
}
footer{
    padding-top: 10px;
}